.header{
    height: 250px;
    background-color: #1F319D;
    width: 100%;
    padding-top: 1px;
}
.header h2,h3 {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}
.img-box {
    border-radius: 50%;
     overflow: hidden;
    height: 80px;
    width: 80px;
    margin-top: 1px;
}
.border-white {
    border: #1F319D 4px;
    border-radius: 50%;
    width: fit-content;
}
.border-blue {
    border: 7px solid white;
    border-radius: 50%;
    width: fit-content;
}
.flex {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.space-between {
    display: flex;
    justify-content: space-between;
     padding: 10px 10px 0px 10px;
}
.followings{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.followings p{
    color: white;
    
}
