
<ion-content class="container">
  <div class ="container ion-text-center">
    <img src="assets/logo2.png">
  </div>
  <div class="header">
    <h3>Login to your Account </h3>
  </div>
  <form class="formulaire"  [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" aria-label="Email" type="email"></ion-input>
    </ion-item>
    <div *ngIf="this.ionicForm.controls?.email.touched && this.ionicForm.controls?.email.invalid">
      <div class="error ion-padding" *ngIf="errorControl.email.errors?.required" >
        <ion-text color="danger">Email is required.</ion-text>
      </div>
      <div class="ion-padding" *ngIf="errorControl.email.errors?.pattern">
        <ion-text color="danger">Please provide valid email.</ion-text>
      </div>
    </div>
    <div>
        <ion-item lines="full">
          <ion-label position="floating">password</ion-label>
          <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="form-group form-check">
          <a [routerLink]="['/forgotpassword']">forgotpassword?</a>
        </div>
        <div *ngIf="this.ionicForm.controls?.password.touched && this.ionicForm.controls?.password.invalid">
          <div class="error ion-padding" *ngIf="errorControl.password.errors?.required">
            <ion-text color="danger">password is required.</ion-text>
          </div>
          <div class="ion-padding" *ngIf="errorControl.password .errors?.pattern">
            <ion-text color="danger">Please provide valid password .</ion-text>
          </div>
         
        </div>
    </div>
  </form>
  <div class="button signup">
    login <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
 <div class="footer">
   <h1 routerLink ="/signup"> Don't have an account? <br> <span >Sign Up</span></h1>
 </div>
   
</ion-content>
