<ion-header>  
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="logo-docker"></ion-back-button>
    </ion-buttons>   
     <ion-title>details</ion-title>  
     <ion-icon size="large" name="close-circle-outline" slot="end" (click)="closeModal()"></ion-icon>
    </ion-toolbar>
  </ion-header>
 <ion-content>
  <div class="bg-img">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>details des differents produits</p>
    <p>nomproduit:{{nomproduit}}</p>
    <p> quantitesproduit:{{quantitesproduit}}</p>
    <p> prixproduit:{{prixproduit}}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>details des differents produits</p>
    <p>nomproduit:{{nomproduit}}</p>
    <p> quantitesproduit:{{quantitesproduit}}</p>
    <p> prixproduit:{{prixproduit}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Details</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>details des differents produits</p>
    <p>nomproduit:{{nomproduit}}</p>
    <p> quantitesproduit:{{quantitesproduit}}</p>
    <p> prixproduit:{{prixproduit}}</p>
      </ion-card-content>
    </ion-card>
    
  </div>
   
 </ion-content>
